*.idea
*~
*.jpg
*__pycache__*
*.pyc
*.txt
*.vscode
*.zip
*.7z
*.pytest_cache
*.bin
*.csv
*.value
#**/local.py
*.log
*/checkpoints
/data
/.tag
/tensorboard
/logs
/models
/output
/checkpoints
/test
/pretrained_models
/external/vot20st/lightfc/sequences
/external/vot20st/lightfc/results
/external/vot19st
/external/draw
/dev