*.idea
*~
*.jpg
*.ini
*__pycache__*
*.pyc
*.txt
*.vscode
*.pytest_cache
*.bin
*.csv
*.value
#**/local.py
*.log
*/checkpoints
/data
/.tag
/tensorboard
/logs
/models
/output
/checkpoints
/test
/pretrained_models
/external/vot20st
/external/vot19st
/external/draw
/lib/test/vot_utils
/dev